- content_for :footer do
  = javascript_include_tag 'timeedit'

.container
  .row.content#schedule
    - @today = Date.today 
    - @days.each do |day|
      .day(id="#{day.date}")
        - if day.date == @today
          .date.today
            = day.date.day
        - else
          .date
            = day.date.day
        .timeedit
          %ul
        .text
          %h3
            = day.title
          %p
            = day.text
        .clear
