!!!
%html
  %head
    %title Mottagningen 2011
    %meta{ :name => 'viewport', :content => 'initial-scale=1.0, maximum-scale=1.0' }
    = stylesheet_link_tag :all
    = stylesheet_link_tag "cssgrid/1140.css"
    = stylesheet_link_tag 'screen'
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"
    = javascript_include_tag :defaults
    = javascript_include_tag "jquery.scrollTo-min"
    = csrf_meta_tag
    = yield :head
  %body
    .container#header
      .row
        .twocol
          = link_to image_tag('logotypes/mottagningen_kth_2011.png', :class => "logotype")
        .tencol.last
          #days
            - @today = Date.today 
            %h4 Augusti
            %ul
              - (13..31).each do |day|
                - if @today.year == 2011 && @today.month == 8 && @today.day == day
                  %li.today
                    = day
                - else
                  %li
                    = day
            %h4 September
            %ul
              - (1..2).each do |day|
                - if @today.year == 2011 && @today.month == 9 && @today.day == day
                  %li.today
                    = day
                - else
                  %li
                    = day
        .clear
    .container#header-fake
    .row#welcome-msg
      = image_tag('logotypes/mottagningen_top.png')
    
    = yield

    .row.content#sponsors
      %h2 Sponsorer
      = image_tag('sponsors/ericsson_logotype.png')
      = image_tag('sponsors/valtech_logotype.png')
      = image_tag('sponsors/ibm_logotype.png')
      = image_tag('sponsors/conflux_logotype.png')
      = image_tag('sponsors/actic_logotype.png')
    
    .row#contact
      .onecol
        %h3 Kontakt
      .threecol
        %ul
          %li Telefon 070 398 57 63
          %li ingen@insektionen.se
      .fourcol
        Skapad av Björn, Per, Carl & Martin &copy; 2011
      .fourcol.last
        = link_to "Sektionen för Informations och Nanoteknik", "http://insektionen.se"

  = yield :footer
  = javascript_include_tag "schedule"